
body{
    font-family: 'Alegreya Sans', sans-serif;
}
header{
    font-weight: 300;
    background-color: aquamarine;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*rooms.blade*/

